@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  min-height: 100dvh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #394259;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header,
section {
  padding: 20px;
}

footer {
  background-color: white;
  color: #394259;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

footer a {
  color: #c09f74;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer section {
  margin-bottom: 10px;
}
