.navbar {
  background-color: #394259;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.navbar-main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}
.navbar-main a {
  color: azure;
  background-color: #c09f74;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.navbar-user {
  align-self: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.navbar-user a {
  color: #00bfd2;
  border: 0.05rem solid #00bfd2;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.navbar-action {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 1rem;
}

.navbar-action input[type="checkbox"] {
  display: none;
}

.navbar-action label {
  color: #00bfd2;
  border: 0.05rem solid #00bfd2;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}
